<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>copy</title>
</head>
<body>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, autem officiis praesentium quam id voluptate sed eius at dolor natus sequi quidem doloremque minima ab dolorum! A magnam rerum ab.
    
    {% if race %}
        {{race.title}}
        <img src="{{race.files.url}}" alt="img">
        
    {% endif %}
</body>
</html>